.reveal blockquote {
  font-style: normal;
  padding: 50px;
  font-size: calc(var(--r-main-font-size) * 0.8);
}

.reveal blockquote p {
  line-height: 1.5;
}

.reveal .slides section,
.reveal {
  line-height: 1.5;
}

strong {
  color: #f18bb2;
}
